bin/
obj/
publish/
*.user
*.suo
.vs/
*.log
*.bak
*.retaliq.bak
*.db
*.pfx

# Rider
.idea/

# Visual Studio Code
.vscode/

# Ignore build outputs but keep zipped archives
build/
!build/*.zip
!build/**/*.zip
